   <div class="card">
    <div class="content">
    <div class="header w3-center">
          {{#if (is-equal true true)}}
            <img class=" tiny ui image" src="dri.png" alt="doc-img">
          {{else if (eq details.type "blue")}}
            <img class=" small ui image" src="pp.jpeg" alt="doc-imxg">
          {{else if (eq details.type "")}}
            <img class=" small ui image" src="cc.jpeg" alt="doc-imxfg">
          {{/if}}

    </div>
      <div class="w3-center">
        <strong><b>{{@details.surname}}  {{@details.othername}}</b></strong>
      </div>
      <div class="description">
        Document was found in SouthWest,
      </div>
    </div>
    <div class="extra content w3-center">
      
          <div class="ui button teal">
    <i class="add icon"></i>
     {{t 'view-details'}}
    </div>
  </div>
</div>
{{yield}}