   <div class="card">
    <div class="content">
    <div class="header w3-center">
          {{#if (eq @details.type 'yellow')}}
            <img class="ui tiny image" src="cc1.png" alt="doc-img">
          {{else if (eq @details.type 'teal')}}
            <img class="ui tiny image" src="pp.png" alt="doc-imxg">
          {{else if (eq @details.type 'red')}}
            <img class=" ui tiny image" src="cc.png" alt="doc-imxfg">
          {{/if}}

    </div>
      <div class="w3-center">
        <strong><b>{{@details.surname}}  {{@details.othername}}</b></strong>
      </div>
      <div class="description">
       {{@details.doctype.name}}
      </div>
    </div>
    <div class="extra content w3-center">
          <div class="ui button teal">
    <i class="add icon"></i>
     {{t 'view-details'}}
    </div>
  </div>
</div>
{{yield}}