
<BsNavbar as |navbar|   >
  <div>
    <navbar.toggle />
    <LinkTo @route='home' class="navbar-brand"><img src="assets/images/logobottom.jpg" alt="navbar"/>TrackMyLost</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
        <nav.item>
            <nav.linkTo @route='home' @collapseNavbar={{false}}>Home</nav.linkTo>
        </nav.item>
        <nav.item>
            <nav.linkTo @route='report' @collapseNavbar={{false}}>Report</nav.linkTo>
        </nav.item>
        <nav.item>
            <nav.linkTo @route='login'  @collapseNavbar={{false}}>Login</nav.linkTo>
        </nav.item>
        <nav.item>
            <nav.linkTo @route='signup'  @collapseNavbar={{false}}>Become A Collector</nav.linkTo>
        </nav.item>
    </navbar.nav>
  </navbar.content>
  <navbar.content class="justify-content-end">
            <navbar.nav as |nav|>
                <nav.linkTo @route='report'  @collapseNavbar={{false}}>Lang</nav.linkTo>
            </navbar.nav>
  </navbar.content>
</BsNavbar>
<div class="ui divider hidden"></div>
<div class="ui divider hidden"></div>