<div class="ui divider hidden"></div>
<div class="header-content w3-center">
    <div class="header-content-inner">
        <h1>{{t "header-banner"}}</h1>
        <p>{{t "welcome-msg"}}</p>
        <LinkTo @route='report' class="ui button red " >{{t "report-link"}}</LinkTo>
        <div class="ui divider hidden"></div>
        <form class="w3-container">
            <div class="w3-card-4">
                <div class="form-group">
                    <input class="w3-input" type="text" aria-placeholder="search keyword" placeholder="e.g janet amaka Urieh" required>
                </div>
            </div>
            <button type="submit" class="ui button green" {{on "click" search}}>{{t "search-link"}}</button>
        </form>
    </div>
</div>
{{yield}}