<div class="header-content">
	<div class="w3-container w3-teal w3-center">
		<p>{{t "report-para"}}</p>
  		<h1>{{t "report-banner"}}</h1>
	</div>
    <ol class="text-white w3-center">
    	<li>{{t "first"}}</li>
        <li>{{t "second"}}</li>
        <li>{{t "third"}}</li>
        <li>{{t "fourth"}} <i class="ui icon smile yellow"></i></li>
    </ol>
    <select class="w3-select" name="option" {{on "change" (fn selectType value='target.value')}}>
  		<option value='' disabled selected>{{t "select-question"}}</option>
		{{#each this.doc_type as |type|}}
			<option value={{t type}}>{{t type}}</option>
		{{/each}}
	</select>
	<div class="ui divider hidden"></div>
	<form class="w3-container">
		<div class="w3-card-4 form-group">
			<label class="w3-label w3-validate w3-text-white">{{t "first-name"}}</label>
			{{input value=this.surname class="w3-input" type="text" aria-placeholder="e.g batey" placeholder="e.g batey" required=true }}
			<label class="w3-label w3-text-white">{{t "other-names"}}</label>
			{{input value=this.othername class="w3-input" type="text" required=true }}
			<label class="w3-label w3-text-white ">{{t "your-tel"}}</label>
			{{input value=this.samaritan class="w3-input" type="number" placeholder="e.g 67xxxxxx"  required=true }}
		</div>
		<div class="w3-center">
			<button type="button" class="btn btn-success" {{on "click" this.submit}}>{{t "announcer"}} <i class="ui icon announcement purple"></i></button>
		</div>
	</form>
	<div class="ui divider hidden"></div>

</div>
{{outlet}}