<div class="ui divider hidden"></div>
<div class="header-content ui fluid">
		<div class="fluid ui action input w3-container">
      <form>

      </form>
      <input class="w3-input" type="text" aria-placeholder="search keyword" placeholder="e.g janet amaka Urieh">
      <button class="ui right small attached button green" type="submit" {{on "click" this.findItem}}><i class="ui search icon"></i>{{t "search-link"}}</button>		
        </div>
        <div class="ui labels mini w3-center">
          <div class="ui label button mini black">{{t "id"}}</div>
        <div class="ui  label button mini pink">{{t "passport"}}</div>
        <div class="ui  label button mini teal">{{t "license"}}</div>
        <div class="ui  label button mini violet">{{t "cc"}}</div>
        </div>
</div>
<div class="ui divider hidden"></div>
 <section class="ui cards centered">
   {{#each model as |detail|}}
     <Lost-Card @details={{detail}} />
   {{/each}}
</section>
{{outlet}}